<div class="row">
  <div class="col-12">
    <ul class="list-group" *ngIf="planets && canChild">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Name
              <button class="btn" (click)="sort()">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>
            </th>

            <th scope="col">Rotation Period</th>

            <th scope="col">Gravity</th>

            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planet of planets; let i = index">
            <td>{{ planet.name }}</td>
            <td>{{ planet.gravity }}</td>
            <td>{{ planet.diameter }}</td>

            <td>
              <button
                class="btn btn-primary"
                [routerLink]="['/planets', i + 1]"
              >
                More details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
